.avatar-show.img {
    width: 128px;
    height: 128px;
}

.job-title-icon {
    display: inline-block;
    width: 36px;
    height: 34px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}

.well.profile-block{
    color: white;
    h3 {
        margin-top: 0;
    }
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.well.profile-description{
    background-color: #203A43;
    border-color: wheat;
}

.well.profile-contact-info{
    background-color: #203A43;
    border-color: wheat;
}
